<div id="container">
    <div id="gmap" #gmap style="height:600px;"></div>
    <br>
    <div class="row">
        <div class="col l3">
            <div class="card z-depth-4">
                <div class="card-content">
                    <p>My position: {{lat}}, {{lng}}</p>
                </div>
            </div>
            <div class="card z-depth-4">
                <div class="card-content">
                    <h5>Day</h5>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" [(ngModel)]="week.Sunday" />
                        <span>Sunday</span>
                    </label>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" [(ngModel)]="week.Monday" />
                        <span>Monday</span>
                    </label>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" [(ngModel)]="week.Tuesday" />
                        <span>Tuesday</span>
                    </label>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" [(ngModel)]="week.Wednesday" />
                        <span>Wednesday</span>
                    </label>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" [(ngModel)]="week.Thursday" />
                        <span>Thursday</span>
                    </label>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" [(ngModel)]="week.Friday" />
                        <span>Friday</span>
                    </label>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" [(ngModel)]="week.Saturday" />
                        <span>Saturday</span>
                    </label>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" [(ngModel)]="week.NoTime" />
                        <span>Days vary</span>
                    </label><br>
                    <h5>Meal</h5>
                    <select class="browser-default" name="country" id="countrySelector" [(ngModel)]="meal">
                        <option value="All" selected>All</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                    </select><br>
                    <button (click)="getNearest()">Show Nearest Ten</button>
                    <button (click)="getAll()">Show All</button>
                    <button (click)="distanceAPI(locations[2])">Test</button>
                </div>
            </div>
        </div>
        <div class="col l9">
            <div class="card blue-grey lighten-1 z-depth-4">
                <div class="card-content white-text">
                    <table class="highlight">
                        <thead>
                            <!-- <th>ID</th> -->
                            <th>Day and Time</th>
                            <th>Meal</th>
                            <th>Open To</th>
                            <th>Location</th>
                            <th>Program</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let location of displayed">
                                <!-- <td>{{location._id}}</td> -->
                                <td>{{location.Day_Time}}</td>
                                <td>{{location.Meal_Served}}</td>
                                <td>{{location.People_Served}}</td>
                                <td>{{location.Location}}</td>
                                <td>{{location.Name_of_Program}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>