<p>Enter your current street address:</p>
<form (submit)='getCurrentLocation()'>
  <label for="street">Street:</label><br>
  <input type="text" name="street" [(ngModel)]='street'><br>
  <input type="submit" name="Submit">
</form>


<p>
  Rehabiltation Facilities near you:
</p>
<ol>
  <li *ngFor="let x of hospital">{{ x.facility_name }}
    <p>Address: {{x.address_line_1}} {{x.location_city}}, {{x.location_state}} {{x.zip_code}}</p>
    <p>Phone: {{x.phonenumber}}</p>
    <p>Facility Type: {{x.ownership_type}}</p>
  </li> 
</ol>
